.form {
	display: flex;
	justify-content: center;
  align-items: center;
  flex-direction: column;
	width: 100%;
	height : 100vh;
	background-image: url("../res/lines.png");
	background-size: cover;
}
.formContainer
{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bjr
{position: absolute;
	top: -15%;
	left: 50%;
	transform: translate(-50%);
}
.dashboard_T
{
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 900px;
	height: 450px;
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
	background: white;
}
.menu_dash
{ 
	display: flex; 
	align-items: center;
	flex-direction: column;
	position: relative;
	height: 100%;
	width: 20%;
	background: #B81828;
	color: white;
}
.dash
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 100%;
}
.proms
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.proms>p:hover
{
	cursor: pointer;
	user-select: none;
}
ul
{
	display: none;
	list-style: none;
	padding: 0;
}
.ulAppear
{
	display: block;
}
li
{
	user-select: none;
}
svg
{
	width: 20px !important;
}
#new
{
	transition: .2s;
}
#new:hover
{
	color: #2F3647;
	font-weight: 600;
	cursor: pointer;
}
.new_Prog>input[type="submit"]
{
	width: 40%;
}
.new_Prog
{
	width: 100%;
	height: 100%;
	color: #2F3647;
}
.new_Prog>div
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 60%;
}
.time>div, .dates>div, .prog_name>div
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 14px;
}
input[name="prog_name"]
{
	width: 50%;
	background: none;
	border: none;
	border-bottom: 1px solid #2F3647;
	outline: none;
	font-size: 15px;
}
input
{
	outline: none;
}
.btnsForm
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}
.btnsForm>button
{
	background-color: #B81828;
	color: white;
	border-radius: 100px;
	padding: 10px 20px;
	outline: none;
	transition: .2s;
	font-size: 16px;
	border: 2px #B81828 solid;
	font-family: "Cabin";
	margin: 10px;
}
.btnsForm>button:hover{
	background-color: white;
	border: 2px #B81828 solid;
	color: #B81828;
	cursor: pointer;
}
.inputRow
{
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.add
{
    display: flex;
    justify-content: space-evenly;
}
.inputRow>input
{
    border: none;
    border-bottom: 1px solid #2F3647;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.stepperTwo
{
	position: relative;
	width: 90%;
	height: 80%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-evenly; */
}
.stepperTwo::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
.stepperTwo::-webkit-scrollbar-thumb {
	background: #B81828;
	border-radius: 100px;
}
.stepperTwo::-webkit-scrollbar-thumb:hover {
	background: #B81828;
}
.stepperTwo::-webkit-scrollbar-thumb:active {
	background: #B81828;
}
.stepperTwo::-webkit-scrollbar-track {
	background:white;
	border-radius: 50px;
}
.stepperTwo::-webkit-scrollbar-corner {
	background: transparent;
}
.inputs
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin: 15px;
	color: #2F3647;
}
.inputContainer
{
	position: relative;
	width: 100%;
	margin: 5px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.inputs>div>div
{
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 5px;
	width: 30%;
}

.fa-trash, .fa-plus
{
	transition: .2s;
	color:#2F3647;
}
.fa-trash:hover, .fa-plus:hover
{
	cursor: pointer;
	color: #B81828;
}
.inputs>div>div>input
{
	border: none;
	border-bottom: 1px solid black;
	height: 15px;
	width: 70%;
}
.inputs>div>div:nth-child(3)
{
	width: 35%;
}
.inputs>div>div:nth-child(1)
{
	width: 25%;
}
.inputs>div>div:nth-child(2)>label
{
	width: 50%;
}
.num
{
	color: #B81828;
	font-weight: bold;
}